# .gitignore
dataset/
others/data/
others/MNIST/
*.csv
*.ubyte
*.pt
*.pth
checkpoints/
dcgan_checkpoints/
gan_samples/
runs/
outputs/
logs/
__pycache__/
.ipynb_checkpoints/
*.pyc
.DS_Store
.vscode/
.idea/
*.swp
*.swo
env/
venv/
*.env


test/